<h2>Edit prescription for <%= @prescription.patient.display_name %></h2>

<%= render partial: 'shared/form_errors', locals: { model: @prescription } %>

<%= render partial: 'form' %>

<br>

<%= button_to 'delete prescription',
  @prescription,
  method: "delete",
  data: {confirm: "Are you sure you want to delete this prescription of #{@prescription.medication.name} for #{@prescription.patient.display_name}? \nThis action cannot be undone."}
%>