<h2>Welcome to Interactions</h2>

<% if logged_in? %>

  <h3>Hi, <%= @current_user.display_name %>! You are logged in.</h3>
  <p><%= link_to 'Log Out', logout_path, class: 'button' %></p>

<% else %>

  <p><%= link_to 'Log In', login_path, class: 'button' %></p>
  <p><%= link_to 'Create New User', new_user_path, class: 'button' %></p>

<% end %>
<% console %>