<h2>Welcome to Interactions</h2>

<% if session[:user_id] %>

  <h3>Hi, <%= @user.display_name %>! You are logged in.</h3>
  <p><%= link_to 'Log Out', logout_path, class: 'button' %></p>

<% else %>

  <p><%= link_to 'Log In', login_path, class: 'button' %></p>

<% end %>