<h2>Edit patient</h2>

<%= render partial: 'shared/form_errors', locals: { model: @patient } %>

<%= render partial: 'form' %>

<br>

<%= button_to 'delete patient',
  @patient,
  method: "delete",
  data: {confirm: "Are you sure you want to delete #{@patient.display_name}? \nThis action cannot be undone."}
%>