<h3>All System Patients</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Provider</th>
  </tr>

  <% @patients.each do |p| %>
    <tr>
      <td><%= p.display_name %></td>
      <td><%= p.age %></td>
      <td><%= p.user.display_name %></td>
    </tr>
  <% end %>
</table>